@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #00b0f4, #0059ff);
  z-index: 999999;
}

.spinner {
	position: absolute;
	top: 48%;
	left: 48%;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  border-radius: 50px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

body {
	text-align: center;
  background-color: black;
	/*background-image: linear-gradient(to right, #00b0f4, #0059ff);*/
  background-image: linear-gradient(to top, rgb(0 0 0 / 0%), #310000ee), url(https://t3.ftcdn.net/jpg/04/40/47/80/360_F_440478068_3epkyuEJf9itdwsgK4ZR5NWZ5PVIx1Yq.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 0%, bottom;
	color: white;
	font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  width: 500px;
  background-color: #232529;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 1px 1px 25px 5px black;
/*background: rgba( 255, 255, 255, 0 );*/
/*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
/*backdrop-filter: blur( 20px );*/
/*-webkit-backdrop-filter: blur( 20px );*/
}

.chess{
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 0%, bottom;
	color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.banner {
  height: 200px;
  width: 500px;
  background-image: url(https://media.discordapp.net/attachments/608711485849337856/1148951583648923658/12d26fd6d7471b66.gif);
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.avatar {
	border-radius: 100px;
	margin-top: 133px;
  border: 10px solid #232529;
  background-color: #232529;
  cursor: pointer;
}

.name {
  margin: 100px 0 0 0;
}

.abtme {
  padding: 0px 10px 0px 10px;
}

hr {
  background-color: white;
  border: 1px solid white;
  border-radius: 1px;
  margin: 0 15px 0 15px;
  opacity: 10%;
}

.connections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: initial;
}

.connection {
  height: 44px;
  width: 200px;
  border: 1px solid hsla(0,0%,100%,0.06);
  border-radius: 10px;
  margin: 20px 20px 0 20px;
  display: flex;
  align-items: center;
}

.fab {
  padding: 10px;
  font-size: 25px;
  /*width: 30px;*/
  /*text-align: center;*/
  text-decoration: none;
  border-radius: 50%;
}
.fas {
  padding: 10px;
  font-size: 25px;
  /* width: 30px; */
  /*text-align: center;*/
  text-decoration: none;
  border-radius: 50%;
}

.fa-discord {
  color: #5865F2;
}
.fa-discord:hover {
	color: #7289da;
}
.fa-youtube {
  color: #cf0000;
}
.fa-youtube:hover {
	color: rgb(255, 0, 0);
}

.fa-twitch{
  color: rgb(169, 0, 169);
}

.fa-twitch:hover {
	color: rgb(231, 0, 231);
}

.fa-github{
  color: rgb(255, 255, 255);
}

.fa-github:hover {
  color: rgb(0, 0, 0);
}
.fa-reddit-alien {
  color: #FF4500;
}
.fa-reddit-alien:hover {
  color: #ff5c20;
}

.fa-spotify{
  color:#1ed760;
}

.fa-spotify:hover {
  color: #25ff71;
}

.fa-steam{
  color:#0063ee;
}
.fa-steam:hover {
  color: #00adee;
}

.fa-twitter{
  color: #00acee;
}

.fa-twitter:hover {
  color: #22e9ff;
}

.fa-chess-pawn{
  color:rgb(0, 177, 0);
}

.fa-chess-pawn:hover{
  color:rgb(0, 249, 0);
}

.fa-chess-knight:hover{
  color:black;
}
.fa-chevron-down {
  font-size: 50px;
  text-decoration: none;
  color: white;
  width: 35px;
}
.fa-chevron-down:hover {
  color: wheat;
}

.OpenIcon {
  opacity: 30%;
  margin-top: 6px;
  transition: all 0.3s ease-out;
}

.OpenIcon:hover {
  opacity: 100%;
}


/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(to top, rgb(0 0 0 / 0%), #0055ff);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
  /*border: 5px solid black;*/
}

/*sadsda  */

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}

a {
  text-decoration: none;
  color: white;
}

.©️ {
  text-decoration: none;
  color: white;
  margin: 33px 0 10px 0;
  width: auto;
  text-shadow: 0px 0px 2px black;
}

::selection {
  color: #0055ff;
  background: #0000003d;
}

@media only screen and (max-width: 530px) {
  .main {
    width: 345px;
  }
  .banner {
    width: 345px;
  }
}

@media only screen and (max-width: 376px) {
  .main {
    width: 309px;
  }
  .banner {
    width: 309px;
  }
}

@media only screen and (max-width: 326px) {
  .main {
    width: 250px;
  }
  .banner {
    width: 250px;
  }
}

